<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Price App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <title>Fuel Price App</title>
    <style>
        body {
            background-image: url('BGImage.jpg');
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=number], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=Password], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=Date], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type=submit]:hover {
            background-color: #45a049;
        }
        #form1 {
            height: 100%;
            width: 500px;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var gallonInput = document.getElementById('gallons').value;
            var dateInput = document.getElementById('date').value;

            console.log(gallonInput);
            console.log(dateInput);

            if(gallonInput.value === "" || !dateInput){
                success();
                document.getElementById('getpricebtn').disabled = true;
                document.getElementById("submitbtn").disabled = true;
            }else{
                document.getElementById('getpricebtn').disabled = false;
                document.getElementById("submitbtn").disabled = false;
            }   
        });

        function success() {
            var gallonInput = document.getElementById('gallons').value;
            var dateInput = document.getElementById('date').value;
            console.log(gallonInput);
            console.log(dateInput);
            if (gallonInput.length === 0 && !dateInput) {
                document.getElementById('getpricebtn').disabled = true;
                document.getElementById("submitbtn").disabled = true;
            } else {
                document.getElementById('getpricebtn').disabled = false;
                document.getElementById("submitbtn").disabled = false;
            }
        }
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Fuel Price</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/profileManagement">Profile Management</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/quote">Fuel Quote Pricing</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/quoteHistory">Fuel Quote History</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = "center">
        <form method="POST" id="form1">
            <h2 style="text-align:center">Fuel Quote Form</h2>
            <label for="gallons">Gallons Requested:</label><br>
            <input type="number" id="gallons" name="gallons" onkeyup="success()" value="<%= myData.gallons %>" required><br>
            <label for="dilvery">Delivery Address:</label><br>
            <input type="text" id="dilvery" name="dilvery" value="<%= profile.address1 %>" readonly><br>
            <label for="date">Delivery Date:</label><br>
            <input type="Date" id="date" name="date" oninput="success()" value="<%= myData.date %>" required><br>
            <label for="sugPrice">Suggested Price:</label><br>
            <input type="text" id="sugPrice" name="sugPrice" value="<%= myData.sugPrice %>"readonly><br>
            <label for="due">Total Amount Due:</label><br>
            <input type="text" id="due" name="due" value="<%= myData.due %>" readonly><br>
            <button class="button" type="submit" id="getpricebtn" class="btn btn-success btn-lg" formaction="/pricing" >Get Price</button><br>
            <button class="button" type="submit" id="submitbtn" class="btn btn-success btn-lg" formaction="/quote" >Submit</button>
        </form>
    </div>


    
</body>
</html>

